loguru
pydantic[email]
requests
tqdm
python-dotenv
pypdf
sentence-transformers
pinecone
langchain
langchain-community
langchain-core
langchain-groq
fastapi
uvicorn[standard]
python-multipart
email-validator
