loguru
pydantic[email]
requests
tqdm
python-dotenv
pypdf

pinecone
langchain
langchain-community
langchain-core
langchain-groq
fastapi
uvicorn[standard]
python-multipart
email-validator

#uv pip install -r requirements.txt